<head>
    <title>{{ site.title }}</title>
    <link rel="icon" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a48135f1-df31-48d3-be93-9f19fc964475/d9gty43-75d45875-6ed9-4f0d-8a61-dc6628bcc1d2.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYTQ4MTM1ZjEtZGYzMS00OGQzLWJlOTMtOWYxOWZjOTY0NDc1XC9kOWd0eTQzLTc1ZDQ1ODc1LTZlZDktNGYwZC04YTYxLWRjNjYyOGJjYzFkMi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.5DX3F4FsCQi7sW571W0HezJ8LHzlReUKvrwO5HdfCsg" type="image/icon type">
    <meta charset="utf-8" />
    <meta name="description" content="Programmer and Arch Linux user">
    <meta name="keywords" content="portfolio, programmer, developer, nlp, linux, free software, open source">
    <meta name="author" content="Vinicius Yaunner">  
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>
</head>
